<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
    </head>

<body>
    <center>
        <h1>Crop Recommendation System</h1>
        <div class="container">
            <form method="POST" , action="{{url_for('home')}}">
                <b> Nitrogen : <input type="text" , name='a' , placeholder="enter N" required> 
                    Phosphorus: <input type="text" , name='b' , placeholder="enter P" required> 
                    Potassium : <input type="text" , name='c' , placeholder="enter K" required>
                    Temperature : <input type="text" , name='d' , placeholder="enter T" required>
                    Humidity: <input type="text" , name='e' , placeholder="enter H" required>
                    pH : <input type="text" , name='f' , placeholder="enter pH" required>
                    Rainfall : <input type="text" , name='g' , placeholder="enter R" required>    
            
                </b>
                <input type="submit" , value='Predict'>
            </form>
        </div>
    </center>

</body>

</html>